HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode
src/main/resources/static/assents/img/capas/1776127329351_Captura de tela 2026-01-24 163933.png
.gitignore
src/main/resources/static/assents/img/capas/1776127292935_Captura de tela 2026-01-24 163933.png
.gitignore
src/main/resources/static/assents/img/capas/1776127279157_Captura de tela 2026-02-02 152453.png
.gitignore
src/main/java/br/com/umbrellaGames/controller/web/IndexWebController.java
src/main/resources/static/assents/img/capas/1776127228765_Captura de tela 2026-01-24 165344.png
.gitignore
.gitignore
.gitignore
