<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>


    <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
            rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="/assents/css/loader.css">
    <link rel="stylesheet" href="/assents/css/style.css">
    <link rel="stylesheet" href="/assents/css/footer.css">

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
<header class="header">
    <div class="header-line">

        <div class="logo">
            <a th:href="@{/}">Umbrella Games</a>
        </div>
        <i class="bx bx-menu" id="menu-icon"></i>
        <div class="search-box" style="position:relative";>
            <input id="searchInput" type="text" placeholder="Buscar jogos...">
            
            <div id="searchDropdown" class="search-dropdown"></div>
        </div>

        <nav class="nav-links">
            <div class="dropdown">
                <button>Categorias ▾</button>
                <div class="dropdown-content">
                    <a th:each="cat : ${categorias}"
                       th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
                       th:text="${cat.nomeCategoria}">
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <button>Desenvolvedora ▾</button>
                <div class="dropdown-content">
                    <a th:each="dev : ${desenvolvedoras}"
                       th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
                       th:text="${dev}">
                    </a>
                </div>
            </div>

            <a th:href="@{/about}">Sobre</a>

            <a th:href="@{/admin}">Admin</a>
            
        </nav>

    </div>
</header>
<!--fim do header-->
<br><br><br><br><br><br><br>
<div>

<h2 style="text-align: center; font-size: x-large;">Listas de Jogos</h2>
<a style="font-size:x-large; text-align: center; margin-left: 185px ;"th:href="@{/admin/1/newJogo}"><img style="cursor:pointer" src="/assents/img/adicionar.png" width="40px" height="40px"> Novo</a>
<table style="font-size: medium; width: 80%; margin: auto; border: 1px solid white; border-collapse: collapse;" table class="table table-striped" >
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Desenvolvedora</th>
        <th>Valor</th>
        <th>Nota</th>
        <th>Edit|Delete</th>
    </tr>
    <tr th:each="jogo : ${jogos}">
        <td th:text="${jogo.idJogo}"></td>
        <td th:text="${jogo.nomeJogo}"></td>
        <td th:text="${jogo.desenvolvedora}"></td>
        <td th:text="${jogo.valor}"></td>
        <td th:text="${jogo.nota}"></td>
        <td>
            <a th:href="@{/admin/1/{id}/editJogo (id=${jogo.idJogo})}"> <img style="cursor:pointer" src="/assents/img/editar-texto.png" width="30px" height="30px"> </a>
            <a th:href="@{/admin/1/{id}/deleteJogo (id=${jogo.idJogo})}"> <img style="cursor:pointer" src="/assents/img/lixeira-de-reciclagem.png" width="30px" height="30px"></a>
        </td>
    </tr>
</table>
<br>
<hr>
<br>
<h2 style="text-align: center; font-size: x-large;">Lista de Categorias</h2>
<a style="font-size:x-large; text-align: center; margin-left: 660px"th:href="@{/admin/1/newCategoria}"><img style="cursor:pointer" src="/assents/img/adicionar.png" width="40px" height="40px"> Novo</a>
<table style="font-size: medium; width: 30%; margin: auto; border: 1px solid white; border-collapse: collapse;" table class="table table-striped" >
    <tr>
        <th style="text-align: center;">ID</th>
        <th style="text-align: center;">Nome</th>
        <th style="text-align: center;">Edit|Delete</th>

    </tr>
    <tr  th:each="categoria : ${categorias}">
        <td style="text-align: center;" th:text="${categoria.idCategoria}"></td>
        <td  style="text-align: center;"th:text=" ${categoria.nomeCategoria}"></td>
        <td style="text-align:center">
            <a th:href="@{/admin/1/{id}/editCategoria (id=${categoria.idCategoria})}"> <img style="cursor:pointer" src="/assents/img/editar-texto.png" width="30px" height="30px"> </a>
            <a th:href="@{/admin/1/{id}/deleteCategoria (id=${categoria.idCategoria})}"> <img style="cursor:pointer" src="/assents/img/lixeira-de-reciclagem.png" width="30px" height="30px"></a>
        </td>
    </tr>
</table>
<br>
<br>

<br>
<br><br><br>
</div>





<!-- ********** footer ********** -->

<footer class="footer">
    <div class="social-icons">
        <a href="#">
            <i class="bx bxl-github"></i>
        </a>
        <a href="#">
            <i class="bx bxl-linkedin"></i>
        </a>
        <a href="#">
            <i class="bx bxl-instagram"></i>
        </a>
        <a href="#">
            <i class="bx bxl-facebook"></i>
        </a>
        <a href="#">
            <i class="bx bxl-twitter"></i>
        </a>
    </div>



    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
</footer>

<!-- ********** footer end ********** -->

<!--***** Script *****-->
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!--Código de funcionalidades-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--Codigo de Javascript-->
<script src="/assents/js/function.js"></script>
<script src="/assents/js/script.js"></script>

</body>
</html>
