<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desenvolvedora</title>
  <!-- bibliotecas do css -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- Bootstrap-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
  <!--css-->
  <link rel="stylesheet" href="/assents/css/loader.css">
  <link rel="stylesheet" href="/assents/css/style.css">
  <link rel="stylesheet" href="/assents/css/footer.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/flex-slider.css">

  <!-- Swiper Js-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!--fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
          rel="stylesheet">
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header *****-->
<header class="header">
  <div class="header-line">

    <div class="logo">
      <a th:href="@{/}">Umbrella Games</a>
    </div>
    <i class="bx bx-menu" id="menu-icon"></i>
    <div class="search-box" style="position:relative";>
      <input id="searchInput" type="text" placeholder="Buscar jogos...">
      
      <div id="searchDropdown" class="search-dropdown"></div>
    </div>

    <nav class="nav-links">
      <div class="dropdown">
        <button>Categorias ▾</button>
        <div class="dropdown-content">
          <a th:each="cat : ${categorias}"
             th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
             th:text="${cat.nomeCategoria}">
          </a>
        </div>
      </div>

      <div class="dropdown">
        <button>Desenvolvedora ▾</button>
        <div class="dropdown-content">
          <a th:each="dev : ${desenvolvedoras}"
             th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
             th:text="${dev}">
          </a>
        </div>
      </div>

      <a th:href="@{/about}">Sobre</a>

      <a th:href="@{/admin}">Admin</a>
      
    </nav>

  </div>
</header>
<!--****** Banner *****-->
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 th:text="${nomeDev}"></h3>
        <span class="breadcrumb"><a th:href="@{/}">Home</a> >
            Desenvolvedoras</span>
      </div>
    </div>
  </div>
</div>
<!--****** BAnner end *****-->


<div class="section trending">
  <div class="container">
    <ul class="trending-filter">
      <li>
        <a href="#" th:onclick="|window.location.href='@{/desenvolvedora/{nomeDev}(nomeDev=${nomeDev}, exibicao='todos')}'|" th:classappend="${exibicao == 'todos'} ? 'is_active' : ''">Todos</a>
      </li>
      <li>
        <a href="#" th:onclick="|window.location.href='@{/desenvolvedora/{nomeDev}(nomeDev=${nomeDev}, exibicao='avaliacao')}'|" th:classappend="${exibicao == 'avaliacao'} ? 'is_active' : ''">Melhores Avaliacões</a>
      </li>
      <li>
        <a href="#" th:onclick="|window.location.href='@{/desenvolvedora/{nomeDev}(nomeDev=${nomeDev}, exibicao='preco')}'|" th:classappend="${exibicao == 'preco'} ? 'is_active' : ''">Melhores Preços</a>
      </li>
    </ul>

    <!--Inicio da apresentação dos jogos da desenvolvedora-->
    <div class="row trending-box">
      <div th:each="jogo : ${jogos}"
           class="col-lg-3 col-md-6 align-self-center mb-30 trending-items str">

        <div class="item">

          <div class="thumb">

            <a th:href="@{'/jogo/' + ${jogo.idJogo}}">
              <img th:src="@{'/imagem/capa/' + ${jogo.imagem}}"
                   alt="game">
            </a>
            <span class="price"
                  th:text="'R$ ' + ${jogo.valor}">
		      </span>
          </div>
          <div class="down-content">
            <div class="stars"
                 th:attr="data-score=${jogo.nota}">
            </div>
            <h4 th:text="${jogo.nomeJogo}">
            </h4>
            <a th:href="@{'/jogo/' + ${jogo.idJogo}}">
              <i class="fa fa-shopping-bag"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Paginação para não ter todos os jogos de uma só vez -quem fez o frontend/  eu não acho que vai ter mais de 12 jogos por desenvolvedora então veu deixar comentado mesmo -arthur
  <div class="row">
    <div class="col-lg-12">
      <ul class="pagination">
      <li><a href="#"> &lt; </a></li>
        <li><a href="#">1</a></li>
        <li><a class="is_active" href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"> &gt; </a></li>
      </ul>
    </div>
  </div>
</div>
</div> -->

  <!-- ********** footer ********** -->

  <footer class="footer">
    <div class="social-icons">
      <a href="#">
        <i class="bx bxl-github"></i>
      </a>
      <a href="#">
        <i class="bx bxl-linkedin"></i>
      </a>
      <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
      <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <ul class="list">
      <li>
        <a href="Categoria.html">Categorias</a>
      </li>
      <li>
        <a href="desenvolvedora.html">Desenvolvedoras</a>
      </li>
      <li>
        <a th:href="@{/about}">Sobre</a>
      </li>
      <li>
        <a th:href="@{/admin}">Administrador</a>
      </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
  </footer>
  <!--***** Script *****-->
  <!--Código de funcionalidades-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="/vendor/bootstrap/js/isotope.min.js"></script>
  <script src="/vendor/bootstrap/js/counter.js"></script>
  <script src="/vendor/bootstrap/js/custom.js"></script>


  <!--Codigo de Javascript-->
  <script src="/assents/js/function.js"></script>
  <script src="/assents/js/script.js"></script>
  <script src="/assents/js/owl-carousel.js"></script>
</body>
</html>