<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>


    <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
            rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="/assents/css/loader.css">
    <link rel="stylesheet" href="/assents/css/style.css">
    <link rel="stylesheet" href="/assents/css/footer.css">

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
<header class="header">
    <div class="header-line">

        <div class="logo">
            <a th:href="@{/}">Umbrella Games</a>
        </div>
        <i class="bx bx-menu" id="menu-icon"></i>
        <div class="search-box" style="position:relative";>
            <input id="searchInput" type="text" placeholder="Buscar jogos...">
            
            <div id="searchDropdown" class="search-dropdown"></div>
        </div>

        <nav class="nav-links">
            <div class="dropdown">
                <button>Categorias ▾</button>
                <div class="dropdown-content">
                    <a th:each="cat : ${categorias}"
                       th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
                       th:text="${cat.nomeCategoria}">
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <button>Desenvolvedora ▾</button>
                <div class="dropdown-content">
                    <a th:each="dev : ${desenvolvedoras}"
                       th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
                       th:text="${dev}">
                    </a>
                </div>
            </div>

            <a th:href="@{/about}">Sobre</a>

            <a th:href="@{/admin}">Admin</a>
            
        </nav>

    </div>
</header>
<!--fim do header-->
<br><br><br><br><br><br><br>s
<h3><label  style="display: block; text-align: center; font-size: xx-large;" th:text="${novo} ?'Novo ' : 'Editar '"></label></h3>
<br>
<br>
<form th:action="@{/admin/1/saveCategoria}" th:object="${categoria}" method="post">
    <table style="font-size: x-large; width: 30%; margin: auto; border: 1px solid white;"   table class="table table-striped">
        <tr>
            <th>ID</th><td><input type="text" th:field="*{idCategoria}" size="28" readonly /></td>
        </tr>
        <tr>
            <th>Nome</th><td><input type="text" th:field="*{nomeCategoria}" size="28" required /></td>
        </tr>
        
        <tr>
            <td colspan="2">
                <input 
    type="submit" 
    value="Enviar"
    style="
        font-size: large;
        background: linear-gradient(45deg, #ff4d4d, #cc0000);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s;
    "
    onmouseover="this.style.transform='scale(1.05)'"
    onmouseout="this.style.transform='scale(1)'"
>
&nbsp;
                <a th:href="@{/admin/1}">Sair</a>
            </td>
        </tr>
    </table>
</form>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>






<!-- ********** footer ********** -->

<footer class="footer">
    <div class="social-icons">
        <a href="#">
            <i class="bx bxl-github"></i>
        </a>
        <a href="#">
            <i class="bx bxl-linkedin"></i>
        </a>
        <a href="#">
            <i class="bx bxl-instagram"></i>
        </a>
        <a href="#">
            <i class="bx bxl-facebook"></i>
        </a>
        <a href="#">
            <i class="bx bxl-twitter"></i>
        </a>
    </div>


    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
</footer>

<!-- ********** footer end ********** -->

<!--***** Script *****-->
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!--Código de funcionalidades-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--Codigo de Javascript-->
<script src="/assents/js/function.js"></script>
<script src="/assents/js/script.js"></script>

</body>
</html>