<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>


    <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
     <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="/assents/css/loader.css">
    <link rel="stylesheet" href="/assents/css/style.css">
    <link rel="stylesheet" href="/assents/css/footer.css">

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <header class="header">
        <div class="header-line">

            <div class="logo">
                <a href="index.html">Umbrella Games</a>
            </div>
            <i class="bx bx-menu" id="menu-icon"></i>
            <div class="search-box">
                <input type="text" placeholder="Buscar jogos...">
                <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg></button>
            </div>

            <nav class="nav-links">
                <div class="dropdown">
                    <button>Categorias ▾</button>
                    <div class="dropdown-content">
                        <a class="" href="Categoria.html">Ação</a>
                        <a href="Categoria.html">RPG</a>
                        <a href="Categoria.html">Terror</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button>Desenvolvedora ▾</button>
                    <div class="dropdown-content">
                        <a href="#">Ubisoft</a>
                        <a href="#">EA</a>
                    </div>
                </div>

                <a href="sobre.html">Sobre</a>
                <a href="admin.html">Admin</a>
                <a class="icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg></a>
            </nav>

        </div>
    </header>
 <!--fim do header-->
<br><br><br><br><br><br><br>s
    <h3><label  style="display: block; text-align: center; font-size: xx-large;" th:text="${novo} ?'Novo ' : 'Editar '"></label></h3>
	<br>	
    <br>
    <form th:action="@{/admin/saveCategoria}" th:object="${categoria}" method="post">
			<table style="font-size: 40px;margin-left: auto; margin-right: auto" border="1">
				<tr>
					<th>ID</th><td><input type="text" th:field="*{idCategoria}" size="40" readonly /></td>
				</tr>	
				<tr>
					<th>Nome</th><td><input type="text" th:field="*{nomeCategoria}" size="40" /></td>
				</tr>		
				<tr>
					<td colspan="2">
						<input   style="font-size: large;"  type="submit" class="btn btn-success" value="Enviar">
						<a th:href="@{/admin/}">Sair</a>
					</td>	
				</tr>
			</table>
		</form>

<br><br><br><br><br><br><br><br><br><br><br>






<!-- ********** footer ********** -->

  <footer class="footer">
    <div class="social-icons">
        <a href="#">
        <i class="bx bxl-github"></i>
      </a>
      <a href="#">
        <i class="bx bxl-linkedin"></i>
      </a>
            <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
            <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
            <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <ul class="list">
      <li>
        <a href="Categoria.html">Categorias</a>
      </li>
      <li>
        <a href="#about">Desenvolvedoras</a>
      </li>
      <li>
        <a href="sobre.html">Sobre</a>
      </li>
      <li>
        <a href="#contact">Administrador</a>
      </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
  </footer>

<!-- ********** footer end ********** -->

 <!--***** Script *****-->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--Código de funcionalidades-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--Codigo de Javascript-->
    <script src="/assents/js/function.js"></script>
    <script src="/assents/js/script.js"></script>

</body>
</html>
