<!DOCTYPE html>
<html lang="Pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>


    <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
            rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/swiper-bundle.min.css}" rel="stylesheet">
    <!--css-->
    <link th:href="@{/assents/css/style.css}" rel="stylesheet">
    <link th:href="@{/assents/css/footer.css}" rel="stylesheet">
    <link th:href="@{/assents/css/loader.css}" rel="stylesheet">

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


</head>

<body>
<!-- * Preloader Start * -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- * Preloader End * -->

<!-- * Header *-->
<header class="header">
    <div class="header-line">

        <div class="logo">
            <a th:href="@{/}">Umbrella Games</a>
        </div>
        <i class="bx bx-menu" id="menu-icon"></i>
        <div class="search-box" style="position:relative";>
            <input id="searchInput" type="text" placeholder="Buscar jogos...">
            
            <div id="searchDropdown" class="search-dropdown"></div>
        </div>

        <nav class="nav-links">
            <div class="dropdown">
                <button>Categorias ▾</button>
                <div class="dropdown-content">
                    <a th:each="cat : ${categorias}"
                       th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
                       th:text="${cat.nomeCategoria}">
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <button>Desenvolvedora ▾</button>
                <div class="dropdown-content">
                    <a th:each="dev : ${desenvolvedoras}"
                       th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
                       th:text="${dev}">
                    </a>
                </div>
            </div>

            <a th:href="@{/about}">Sobre</a>

            <a th:href="@{/admin}">Admin</a>
            
        </nav>

    </div>
</header>
<!-- * Header End *-->

<!--* Banner *-->
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    <h6>Bem-vindo à Umbrella Games </h6>
                    <h2>A Melhor Loja de Jogos!</h2>
                    <p>Encontre os melhores jogos para sua plataforma favorita pelos melhores preços!</p>
                    <div class="search-input">

                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <h2>Jogos em Destaques!</h2>
                <div class="right-image slider-banner">

                    <button class="arrow left">&#10094;</button>

                    <div class="slides">
                        <div class="slide" th:each="jogo : ${destaques}">
                            <a th:href="@{'/jogo/' + ${jogo.idJogo}}">
                                <img  th:src="@{'/imagem/capa/' + ${jogo.imagem}}">
                            </a>
                        </div>
                    </div>

                    <button class="arrow right">&#10095;</button>


                </div>

                <div class="dots">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--* Banner End *-->


<!-- ===== SEÇÃO PRODUTOS ===== -->
<section class="games-section">

    <!-- Jogos Recomendados -->
    <h2 class="section-title">Jogos recomendados</h2>
    <div class="games-container">

        <div class="games-slider swiper recommended-slider">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">
                <!-- CARD -->
                <div class="game-card swiper-slide" th:each="jogo : ${recomendados}">
                    <a th:href="@{'/jogo/' + ${jogo.idJogo}}">
                    <img  th:src="@{'imagem/capa/' + ${jogo.imagem}}"> <!--Faz um loop e preenche com os jogos-->
                    <h3 th:text="${jogo.nomeJogo}"></h3>
                    <p class="price" th:text="${jogo.valor}"></p>
                    </a>
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Jogos Gratuitos -->
    <div class="Game-free">
        <h2 class="section-title">Jogos gratuitos</h2>

        <div class="games-slider swiper free-slider">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">
                <div class="game-card swiper-slide" th:each="jogo : ${gratuitos}">
                    <a th:href="@{'/jogo/' + ${jogo.idJogo}}">
                        <img th:src="@{'imagem/capa/' + ${jogo.imagem}}"> <!--Faz um loop e preenche com os jogos-->
                        <h3 th:text="${jogo.nomeJogo}"></h3>
                        <p class="price" th:text="${jogo.valor}"></p>
                    </a>
                </div>
            </div>

            <div class="swiper-button-next"></div>

            <div class="swiper-scrollbar"></div>

        </div>

    </div>

    <!-- Jogos em promoção -->

    <h2 class="section-title">Jogos a menos de R$30</h2>

    <div class="games-slider swiper promo-slider">
        <div class="swiper-button-prev"></div>
        <div class="swiper-wrapper">

            <div class="game-card swiper-slide" th:each="jogo : ${promocao}">
                <a th:href="@{'/jogo/' + ${jogo.idJogo}}">
                    <img th:src="@{'imagem/capa/' + ${jogo.imagem}}"> <!--Faz um loop e preenche com os jogos-->
                    <h3 th:text="${jogo.nomeJogo}"></h3>
                    <p class="price" th:text="${jogo.valor}"></p>
                </a>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>

    </div>

</section>
<!-- ===== SEÇÃO PRODUTOS end ===== -->



<!-- ** seção de categoria **-->
<div class="categories-container">
<div class="category-card" th:each="item : ${categoriasTop}">

    <!-- Nome da categoria -->
    <span class="category-tag" th:text="${item.categoria.nomeCategoria}"></span>

    <!-- Jogo com maior nota -->
    <a th:href="@{'/jogo/' + ${item.jogo.idJogo}}">
        <img th:src="@{'/imagem/capa/' + ${item.jogo.imagem}}" alt="Jogo Top">
        <h4 th:text="${item.jogo.nomeJogo}"></h4>
    </a>

</div>
</div>
<!-- ** seção de categoria end ** -->

<!-- ** footer ** -->

<footer class="footer">
    <div class="social-icons">
        <a href="#">
            <i class="bx bxl-github"></i>
        </a>
        <a href="#">
            <i class="bx bxl-linkedin"></i>
        </a>
        <a href="#">
            <i class="bx bxl-instagram"></i>
        </a>
        <a href="#">
            <i class="bx bxl-facebook"></i>
        </a>
        <a href="#">
            <i class="bx bxl-twitter"></i>
        </a>
    </div>

    <ul class="list">
        <li>
            <a href="Categoria.html">Categorias</a>
        </li>
        <li>
            <a href="#about">Desenvolvedoras</a>
        </li>
        <li>
            <a href="sobre.html">Sobre</a>
        </li>
        <li>
            <a href="#contact">Administrador</a>
        </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
</footer>

<!-- ** footer end ** -->


<!--* Script *-->
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!--Código de funcionalidades-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--Codigo de Javascript-->
<script th:src="@{/assents/js/function.js}"></script>
<script th:src="@{/assents/js/script.js}"></script>


</body>

</html>