<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>


    <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
     <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="../static/assents/css/loader.css">
    <link rel="stylesheet" href="../static/assents/css/style.css">
    <link rel="stylesheet" href="../static/assents/css/footer.css">

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header *****-->
    <header class="header">
        <div class="header-line">

            <div class="logo">
                <a href="index.html">Umbrella Games</a>
            </div>
            <i class="bx bx-menu" id="menu-icon"></i>
            <div class="search-box">
                <input type="text" placeholder="Buscar jogos...">
                <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg></button>
            </div>

            <nav class="nav-links">
                <div class="dropdown">
                    <button>Categorias ▾</button>
                    <div class="dropdown-content">
                        <a class="" href="Categoria.html">Ação</a>
                        <a href="Categoria.html">RPG</a>
                        <a href="Categoria.html">Terror</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button>Desenvolvedora ▾</button>
                    <div class="dropdown-content">
                        <a href="#">Ubisoft</a>
                        <a href="#">EA</a>
                    </div>
                </div>

                <a href="sobre.html">Sobre</a>
                <a href="#">Admin</a>
                <a class="icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg></a>
            </nav>

        </div>
    </header>
    <!-- ***** Header End *****-->

    <!--***** Banner *****-->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="caption header-text">
                        <h6>Bem-vindo à Umbrella Games </h6>
                        <h2>A Melhor Loja de Jogos!</h2>
                        <p>Encontre os melhores jogos para sua plataforma favorita pelos melhores preços!</p>
                        <div class="search-input">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <h2>Jogos em Destaques!</h2>
                    <div class="right-image slider-banner">

                        <button class="arrow left">&#10094;</button>

                        <div class="slides">
                            <img src="../static/assents/img/banner-image.jpg" class="slide">
                            <img src="../static/assents/img/image.png" class="slide">
                            <img src="../static/assents/img/banner-image.jpg" class="slide">
                        </div>

                        <button class="arrow right">&#10095;</button>

                        <span class="offer">-40%</span>

                    </div>

                    <div class="dots">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--***** Banner End *****-->


    <!-- ===== SEÇÃO PRODUTOS ===== -->
    <section class="games-section">

        <!-- Jogos Recomendados -->
        <h2 class="section-title">Jogos recomendados</h2>
        <div class="games-container">

            <div class="games-slider swiper recommended-slider">
                <div class="swiper-button-prev"></div>
                <div class="swiper-wrapper">

                    <!-- CARD -->
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">R$ 79,90</p>
                    </div>
                </div>


                <div class="swiper-scrollbar"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>

        <!-- Jogos Gratuitos -->
        <div class="Game-free">
            <h2 class="section-title">Jogos gratuitos</h2>

            <div class="games-slider swiper free-slider">
                <div class="swiper-button-prev"></div>
                <div class="swiper-wrapper">

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>

                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/banner-image.jpg">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                    <div class="game-card swiper-slide">
                        <img src="../static/assents/img/image.png">
                        <h3>Nome do jogo</h3>
                        <p class="price">Grátis</p>
                    </div>
                </div>

                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>

            </div>

        </div>

        <!-- Jogos em promoção -->

        <h2 class="section-title">Jogos em promoção</h2>

        <div class="games-slider swiper promo-slider">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">

                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>

                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>

                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>

                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/banner-image.jpg">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/banner-image.jpg">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/banner-image.jpg">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/banner-image.jpg">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/image.png">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>
                <div class="game-card swiper-slide">
                    <img src="../static/assents/img/banner-image.jpg">
                    <h3>Nome do jogo</h3>
                    <p class="price">R$ 29,90</p>
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>

        </div>

    </section>
<!-- ===== SEÇÃO PRODUTOS end ===== -->



    <!-- ********** seção de categoria **********-->
<section class="top-categories">
    <h3>CATEGORIES</h3>
    <h2>Top Categories</h2>

    <div class="categories-container">

        <div class="category-card">
            <span class="category-tag">Action</span>
            <img src="../static/assents/img/image.png" alt="Categoria">
        </div>

        <div class="category-card">
            <span class="category-tag">Action</span>
            <img src="../static/assents/img/image.png" alt="Categoria">
        </div>

        <div class="category-card">
            <span class="category-tag">Action</span>
            <img src="../static/assents/img/image.png" alt="Categoria">
        </div>

        <div class="category-card">
            <span class="category-tag">Action</span>
            <img src="../static/assents/img/image.png" alt="Categoria">
        </div>

        <div class="category-card">
            <span class="category-tag">Action</span>
            <img src="../static/assents/img/image.png" alt="Categoria">
        </div>

    </div>
</section>
<!-- ********** seção de categoria end ********** -->

<!-- ********** footer ********** -->

  <footer class="footer">
    <div class="social-icons">
        <a href="#">
        <i class="bx bxl-github"></i>
      </a>
      <a href="#">
        <i class="bx bxl-linkedin"></i>
      </a>
            <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
            <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
            <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <ul class="list">
      <li>
        <a href="Categoria.html">Categorias</a>
      </li>
      <li>
        <a href="#about">Desenvolvedoras</a>
      </li>
      <li>
        <a href="sobre.html">Sobre</a>
      </li>
      <li>
        <a href="#contact">Adiministrador</a>
      </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
  </footer>

<!-- ********** footer end ********** -->


<!--***** Script *****-->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--Código de funcionalidades-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--Codigo de Javascript-->
    <script src="../static/assents/js/function.js"></script>
    <script src="../static/assents/js/script.js"></script>


</body>

</html>