<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bibliotecas do css -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
  <!--css-->
  <link rel="stylesheet" th:href="@{/assents/css/loader.css}">
  <link rel="stylesheet" th:href="@{/assents/css/style.css}">
  <link rel="stylesheet" th:href="@{/assents/css/footer.css}">

  <!-- Swiper Js-->
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css}" />
  <!--fonts -->
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link
          th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap}"
    rel="stylesheet">
</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>


  <!-- ***** Header *****-->
      <header class="header">
          <div class="header-line">

              <div class="logo">
                  <a th:href="@{/}">Umbrella Games</a>
              </div>
              <i class="bx bx-menu" id="menu-icon"></i>
              <div class="search-box" style="position:relative";>
                  <input id="searchInput" type="text" placeholder="Buscar jogos...">
  					<div id="searchDropdown" class="search-dropdown"></div>
              </div>

              <nav class="nav-links">
                  <div class="dropdown">
                      <button>Categorias ▾</button>
                      <div class="dropdown-content">
  						<a th:each="cat : ${categorias}"
                             th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
  						   th:text="${cat.nomeCategoria}">
  						</a>
                      </div>
                  </div>

                  <div class="dropdown">
                      <button>Desenvolvedora ▾</button>
                      <div class="dropdown-content">
                          <a th:each="dev : ${desenvolvedoras}"
                             th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
  						   th:text="${dev}">
  						</a>
                      </div>
                  </div>

                  <a th:href="@{/about}">Sobre</a>
  				
  				<a th:href="@{/admin}">Admin</a>
              </nav>

          </div>
      </header>
  <!-- ***** Header End *****-->

  <!--****** BAnner *****-->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 th:text="${jogo.nomeJogo}"></h3>
          <span class="breadcrumb"><a th:href="@{/}">Home > </a> <a th:href="@{/categoria/{id}(id=${categoria.idCategoria})}" th:text="${categoria.nomeCategoria}"> </a> <a th:text="' > ' + ${jogo.nomeJogo}"> </a> </span>
        </div>
      </div>
    </div>
  </div>
  <!--****** BAnner end *****-->

  <!--****** produto superficial *****-->
  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img th:src="@{'/imagem/capa/' + ${jogo.imagem}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4 th:text="${jogo.nomeJogo}"></h4>
          <span class="price" th:text="'R$' + ${jogo.valor}"><!--<em>$28</em>--> $22</span>
          <div class="game-score">
            <div class="score-box" th:text="${jogo.nota}">

            </div>

            <div class="score-info">
              <span class="score-label">Avaliação</span>
              <span class="score-text"></span>
            </div>
          </div>
          
          <ul>
            <li><span>Desenvolvedora:</span> <a th:text="${jogo.desenvolvedora}"></a></li>
            <li><span>Categoria:</span> <a th:href="@{/categoria/{id}(id=${categoria.idCategoria})}" th:text="${categoria.nomeCategoria}"></a></li>

          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

  <!--more info-->
  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                      data-bs-target="#description" type="button" role="tab" aria-controls="description"
                      aria-selected="true">Descrição</button>
                  </li>

                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel"
                  aria-labelledby="description-tab">
                  <p th:text="${jogo.detalhes}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--more info end-->


  <!-- ********** seção de categoria **********-->
<section class="top-categories">
  <h2>Jogos do mesmo tipo</h2>


  <div class="categories-container">

    <div class="category-card" th:each="j : ${jogosCategoria}">

      <!-- Nome da categoria -->
      <span class="category-tag" th:text="${categoriasJogos[j.idJogo].nomeCategoria}"></span>

      <!-- Imagem do jogo -->
      <a th:href="@{/jogo/{id}(id=${j.idJogo})}">
        <img th:src="@{'/imagem/capa/' + ${j.imagem}}">
      </a>

      <!-- Nome -->
      <h4 class="game-title" th:text="${j.nomeJogo}"></h4>

      <!-- Preço -->
      <p class="game-price" th:text="'R$ ' + ${j.valor}"></p>
    </div>

  </div>
</section>


  <!-- ********** footer ********** -->

  <footer class="footer">
    <div class="social-icons">
      <a href="#">
        <i class="bx bxl-github"></i>
      </a>
      <a href="#">
        <i class="bx bxl-linkedin"></i>
      </a>
      <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
      <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <ul class="list">
      <li>
        <a th:href="@{/categoria/{id}(id=${categoria.idCategoria})}">Categorias</a>
      </li>
      <li>
        <a href="desenvolvedora.html">Desenvolvedoras</a>
      </li>
      <li>
		<a th:href="@{/about}">Sobre</a>
		      </li>
		      <li>
		        <a th:href="@{/admin}">Administrador</a>
		      </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
  </footer>
  <!--***** Script *****-->
  <!--Código de funcionalidades-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
  <!--Codigo de Javascript-->
  <script th:src="@{/assents/js/function.js}"></script>
  <script src="@{/assents/js/script.js}"></script>
  <script src="@{/assents/js/owl-carousel.js}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {

      const nota = parseFloat(document.querySelector(".score-box").innerText.trim());
      const box = document.querySelector(".score-box");
      const texto = document.querySelector(".score-text");

      if (nota <= 4) {
          box.style.background = "yellow";
          texto.innerText = "Péssimo";
      }
      else if (nota <= 6) {
          // mantém o vermelho do CSS
          texto.innerText = "Regular";
      }
      else if (nota <= 9) {
          texto.innerText = "Muito positivo";
      }
      else {
          texto.innerText = "Perfeito";
      }
  });
</script>
</body>

</html>