<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>


    <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
            rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="/assents/css/loader.css">
    <link rel="stylesheet" href="/assents/css/style.css">
    <link rel="stylesheet" href="/assents/css/footer.css">

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
<header class="header">
    <div class="header-line">

        <div class="logo">
            <a th:href="@{/}">Umbrella Games</a>
        </div>
        <i class="bx bx-menu" id="menu-icon"></i>
        <div class="search-box" style="position:relative";>
            <input id="searchInput" type="text" placeholder="Buscar jogos...">
            
            <div id="searchDropdown" class="search-dropdown"></div>
        </div>

        <nav class="nav-links">
            <div class="dropdown">
                <button>Categorias ▾</button>
                <div class="dropdown-content">
                    <a th:each="cat : ${categorias}"
                       th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
                       th:text="${cat.nomeCategoria}">
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <button>Desenvolvedora ▾</button>
                <div class="dropdown-content">
                    <a th:each="dev : ${desenvolvedoras}"
                       th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
                       th:text="${dev}">
                    </a>
                </div>
            </div>

            <a th:href="@{/about}">Sobre</a>

            <a th:href="@{/admin}">Admin</a>
            
        </nav>

    </div>
</header>
<!--fim do header-->
<br><br><br><br><br><br><br>


	<h2 style="text-align: center; font-size: x-large;">Login</h2>
  <br>
  <hr>
  <br>
<form style="display: flex; flex-direction: column; align-items: center; text-align: center;" th:action="@{/admin/verificacao}" method="get">
    <label style="display: flex; flex-direction: column; align-items: center; font-size: x-large;">Usuário:</label>
    <br>
    <input type="text" style="display: block; margin: 0 auto; width: 300px; height: 30px;" name="email" required>
    <br>
    <br>
    <br>
    <label style="display: flex; flex-direction: column; align-items: center; font-size: x-large;"> Senha:</label>
   <br> <input type="password" style="display: block; margin: 0 auto; width: 300px; height: 30px;" name="senha" required>
<br>
<br>
<br>
    <button type="submit" style="display: block; margin: 0 auto; width: 300px; height: 30px; font-size: large;">Entrar</button>
</form>

<p th:if="${erro}" th:text="${erro}" style="color:red;"></p>




<br><br><br><br><br><br><br><br><br><br><br><br>







<!-- ********** footer ********** -->

  <footer class="footer">
    <div class="social-icons">
        <a href="#">
        <i class="bx bxl-github"></i>
      </a>
      <a href="#">
        <i class="bx bxl-linkedin"></i>
      </a>
            <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
            <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
            <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <ul class="list">
      <li>
        <a href="Categoria.html">Categorias</a>
      </li>
      <li>
        <a href="#about">Desenvolvedoras</a>
      </li>
      <li>
        <a th:href="@{/about}">Sobre</a>
      </li>
      <li>
        <a th:href="@{/admin}">Administrador</a>
      </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
  </footer>

<!-- ********** footer end ********** -->

 <!--***** Script *****-->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--Código de funcionalidades-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--Codigo de Javascript-->
    <script src="/assents/js/function.js"></script>
    <script src="/assents/js/script.js"></script>

</body>
</html>
