<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella Games</title>
 <!--font Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="p    reconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
        rel="stylesheet">

    <!--Bootstrap-->
    <!-- Bootstrap core CSS -->
     <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="/assents/css/loader.css">
    <link rel="stylesheet" href="/assents/css/style.css">
    <link rel="stylesheet" href="/assents/css/footer.css"

    <!-- Swiper Js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

	<!-- ***** Header *****-->
	    <header class="header">
	        <div class="header-line">

	            <div class="logo">
	                <a th:href="@{/}">Umbrella Games</a>
	            </div>
	            <i class="bx bx-menu" id="menu-icon"></i>
	            <div class="search-box" style="position:relative";>
	                <input id="searchInput" type="text" placeholder="Buscar jogos...">
						<div id="searchDropdown" class="search-dropdown"></div>
	            </div>

	            <nav class="nav-links">
	                <div class="dropdown">
	                    <button>Categorias ▾</button>
	                    <div class="dropdown-content">
							<a th:each="cat : ${categorias}"
	                           th:href="@{/categoria/{id}(id=${cat.idCategoria})}"
							   th:text="${cat.nomeCategoria}">
							</a>
	                    </div>
	                </div>

	                <div class="dropdown">
	                    <button>Desenvolvedora ▾</button>
	                    <div class="dropdown-content">
	                        <a th:each="dev : ${desenvolvedoras}"
	                           th:href="@{/desenvolvedora/{nomeDev}(nomeDev=${dev})}"
							   th:text="${dev}">
							</a>
	                    </div>
	                </div>

	                <a th:href="@{/about}">Sobre</a>
					
					<a th:href="@{/admin}">Admin</a>
	            </nav>

	        </div>
	    </header>
    <!-- ***** Header End *****-->

<br> <br> <br> <br> <br> <br> <br> <br> <br>
<h2 style="text-align: center; font-size: 50px;">Membros da Equipe</h2>
<br>
<br>
<p></p>
<br>
<div class="cards">
<SECTION class="sectionCard">
    <img src="/assents/img/Membros/Alex.jpeg" alt="">
        <p>Nome: Alex Carvalho 
            <br>
            Github: Alex2006ye
            <br>
        </p>
    </SECTION>
<SECTION class="sectionCard">
          <img src="/assents/img/Membros/Arthur.jpeg" alt="">
        <p>Nome: Arthur Germano 
            <br>
            Github: Xexe412
            <br>
        </p>
    </SECTION>
    <SECTION class="sectionCard">
          <img src="/assents/img/Membros/Felipe.jpeg" alt="">
        <p>Nome: Felipe Lima 
            <br>
            Github: felipelima78
            <br>
        </p>
    </SECTION>
  
    <SECTION class="sectionCard">
          <img src="/assents/img/Membros/Kalil.jpeg" alt="">
        <p>Nome: Gabriel Kalil 
            <br>
            Github: kalil808
            <br>
        </p>
    </SECTION>
    <SECTION class="sectionCard">
          <img style="object-position: center;" src="/assents/img/Membros/Leo.jpeg" alt="">
        <p>Nome: Leonardo Nilio 
            <br>
            Github: leonardonilio
            <br>
        </p>
    </SECTION>
    <SECTION class="sectionCard">
          <img src="/assents/img/Membros/Lorenzo.jpeg" alt="">
        <p>Nome: Lorenzo Zambuzi
            <br>
            Github: Lorenzo-zambuzi
            <br>
        </p>
    </SECTION>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <footer class="footer">
    <div class="social-icons">
        <a href="#">
        <i class="bx bxl-github"></i>
      </a>
      <a href="#">
        <i class="bx bxl-linkedin"></i>
      </a>
            <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
            <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
            <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
    </div>

    <ul class="list">
      <li>
        <a href="#services">Categorias</a>
      </li>
      <li>
        <a href="#about">Desenvolvedora</a>
      </li>
      <li>
		<a th:href="@{/about}">Sobre</a>
		      </li>
		      <li>
		        <a th:href="@{/admin}">Administrador</a>
		      </li>
    </ul>

    <p class="copyright">getGroup. ©Todos os direitos reservados. 2026</p>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--Código de funcionalidades-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--Codigo de Javascript-->
    <script src="/assents/js/function.js"></script>
    <script src="/assents/js/script.js"></script>

</body>
</html>

