* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  /*Font family*/
  font-family: "Montserrat", sans-serif;
}

/*----------------------------------Principais paletas de cores---------------------------------------------------*/
:root {
  --black-color: #000000;
  --second-black-color: #272727;
  --main-color: #870d1b;
  --second-main-color: #ef0816;
  --bg-color: #e0e0e0;
  --second-bg-color: #fdfdfd;
}


html {
  font-size: 60%;
}

html,
body {
  max-width: 100%;
}

body {
  background-color: var(--second-bg-color);
  color: var(--second-black-color);
}

span {
  background: linear-gradient(270deg, var(--second-black-color)10%);
  background-clip: text;
  color: transparent;
}


/* ===== HEADER ===== */

.header {
  width: 100%;
  background: var(--second-main-color);
  padding: 1.5rem 7%;
  position: relative;
  /* ADICIONE */
  z-index: 1000;
  /* AUMENTE */
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.header-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Logo */
.logo a {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  display: inline-block;
  transition: transform 0.3s ease;
}

.logo a:hover {
  transform: scale(1.2);
}

/* Busca */
.search-box {
  margin-left: 7rem;
  flex: 1;
  max-width: 850px;
  margin: 0 11rem;
  display: flex;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.search-box:hover{
  width: 100%;
 transform: scale(1.02);
}


.search-box input {
  width: 100%;
  height: 5rem;
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 1.8rem;
}

.search-box button {
  border: none;
  background: var(--main-color);
  color: white;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease;
}


.search-box button:hover {
  padding: 1.5rem;
  background-color: var(--bg-color);
  transform: scale(1.2);
  color: var(--second-black-color);
}

/* Navegação */
.nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 2rem;
  padding-right: 3rem;
}


.nav-links a,
.nav-links button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #000;
  transition: width 0.5s ease-in-out;
  border-bottom: 1px solid transparent;
}

.nav-links a:hover,
.nav-links button:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 120%;
  left: 0;
  background: var(--main-color);
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
  font-size: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;

  z-index: 9999;
}

.dropdown-content a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: var(--second-bg-color)
}

.dropdown-content a:hover {
  background: #f2f2f2;
  color: var(--black-color);
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}



/* Resposividade----Tem que ficar no final do código, não coloque codigo abaixo dele desde que não seja sobre resposividade*/
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    /* Ocupa a largura toda no mobile */
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.95);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar.active {
    display: block;
  }
}

/* ===== Header end ===== */