* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  /*Font family*/
  font-family: "Montserrat", sans-serif;
}

/*----------------------------------Principais paletas de cores---------------------------------------------------*/
:root {
  --black-color: #000000;
  --second-black-color: #272727;
  --main-color: #870d1b;
  --second-main-color: #ef0816;
  --bg-color: #e0e0e0;
  --second-bg-color: #fdfdfd;
}

a {
  text-decoration: none;
}

html {
  font-size: 60%;
}

html,
body {
  max-width: 100%;
}

body {
  background-color: var(--second-bg-color);
  color: var(--second-black-color);
}



/* ===== HEADER ===== */

.header {
  width: 100%;
  background: var(--second-main-color);
  padding: 1.5rem 7%;
  position: fixed;
  /* ADICIONE */
  z-index: 1000;
  /* AUMENTE */
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.header-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Logo */
.logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--second-bg-color);
  display: inline-block;
  border: none;
  transition: transform 0.3s ease;
}

.logo a:hover {
  transform: scale(1.2);
}

/* Busca */
.search-box {
  margin-left: 7rem;
  flex: 1;
  max-width: 850px;
  margin: 0 11rem;
  display: flex;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.search-box:hover {
  width: 100%;
  transform: scale(1.02);
}


.search-box input {
  width: 100%;
  height: 5rem;
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 1.8rem;
}

.search-box button {
  border: none;
  background: var(--main-color);
  color: white;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: transform 0.5s ease;
}


.search-box button:hover {
  padding: 1.5rem;
  background-color: var(--bg-color);
  transform: scale(1.2);
  color: var(--second-black-color);
}

/* Navegação */
.nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 2rem;
  padding-right: 3rem;
}


.nav-links a,
.nav-links button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--second-bg-color);
  transition: width 0.5s ease-in-out;
  border-bottom: 1px solid transparent;
}

.nav-links a:hover,
.nav-links button:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 120%;
  left: 0;
  background: var(--main-color);
  min-width: 180px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
  font-size: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;

  z-index: 9999;
}

.dropdown-content a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: var(--second-bg-color)
}

.dropdown-content a:hover {
  background: #f2f2f2;
  color: var(--black-color);
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ===== Header end ===== */

/* Quanto ao BODY e sua estrutura*/
.cards {
  display: flex;
  justify-content: center;
  /* centraliza na página */
  gap: 40px;
  /* espaço entre as divs */
  flex-wrap: wrap;
  /* quebra linha no mobile */
}

.sectionCard {

  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 20px;
  margin-right: 150px;

  background-color: #e0e0e0;
  display: flex;
  border: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.sectionCard:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.sectionCard img {
  width: 100%;
  display: block;
}

.sectionCard p {
  padding: 15px;
  font-size: 1.6rem;
}

/* ====== Pagina Home ========*/


/* ===== Main Banner ===== */

.main-banner {
  background-image: url(../img/gemini-2.5-flash-image_Create_new_image_with_this_image_as_a_reference_but_with_this_color_870d1b_and_e-0.jpg);
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 95px 0px;
}

.main-banner .caption h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  font-size: 48px;
  color: #fff;
  margin-top: 20px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.main-banner .caption h2:after {
  position: absolute;
  background-image: url(../img/caption-dec.png);
  width: 175px;
  height: 12px;
  content: '';
  left: 7%;
  bottom: 0;
}

.main-banner .caption p {
  color: #fff;
  margin-bottom: 70px;
  font-size: 20px;
}

.col-lg-4 h2 {
  font-size: 28px;
  color: var(--bg-color);
  text-align: center;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}



.main-banner .right-image {
  position: relative;
}

.main-banner .right-image img {
  border-radius: 25px;
  width: 150px;
  height: 500px;
  transition: transform 0.3s ease;
}

.main-banner .right-image img:hover {
  width: 100%;
  transform: scale(1.01);
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.main-banner .right-image span.price {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 25px;
  background-color: #008af8;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 4px 15px;
}

.main-banner .right-image span.offer {
  position: absolute;
  left: 0;
  bottom: 45px;
  border-radius: 50%;
  background-color: #ee626b;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

/*Slider(o trem de passar imagens)*/
.slider-banner {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-banner:hover {
  transform: scale(1.01);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  z-index: 9;
}

.slide {
  min-width: 100%;
  height: 100%;
  border-radius: 25px;
}


/* setas */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 30px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Pontos do carrossel */

.dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 20px;
  height: 20px;
  background: var(--second-bg-color);
  border-radius: 50%;
  display: block;
}

.dot.active {
  background: var(--main-color);
  transform: scale(1.2);
}

/* ===== Main Banner end ===== */


/* ===== SLIDER DE JOGOS ===== */

.swiper-button-next,
.swiper-button-prev {

  position: relative;
  top: auto;


  width: 40px;
  height: 40px;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;

}

.swiper-button-next,
.swiper-button-prev {
  padding: 30px;
  color: var(--second-bg-color);
  background: var(--second-black-color);
  transition: transform 0.6s ease, background 0.6s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  font-size: 18px;
  background: gray;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 18px;
}

.swiper-scrollbar {
  margin-top: 25px;
  height: 20px;
  background: #d9d9d9;
  border-radius: 10px;
}

.swiper-scrollbar-drag {
  background: #870d1b;
  border-radius: 10px;
  height: 20px;
  cursor: pointer;
}


.games-section {
  padding: 70px 7%;
  display: block;
}
.games-section h2 {
    color: var(--main-color);
    font-size: 3.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top:80px;
    text-align: center;
    letter-spacing: 5px;
}
.section-title {
  font-size: 26px;
  margin: 40px 0 25px 10px;
  font-weight: 700;
}

.swiper-wrapper {
  transition-timing-function: ease-in-out;
}


.games-slider {
  overflow: hidden;
  border-radius: 25px;
  padding: 80px;
  background: var(--bg-color);
  gap: 15px;
}

.game-card {
  border-radius: 20px;
  background: var(--second-bg-color);
  overflow: hidden;
  margin-top: 3%;
  left: 1%;
  margin-bottom: 3%;
  transition: transform .3s ease, box-shadow .3s ease;
}

.game-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.game-card img {
  width: 100%;
  height: 250px;
  border-radius: 18px;
}

.game-card h3 {
  font-size: 16px;
  padding: 10px;
  object-fit: cover;
}

.game-card .price {
  padding: 0 10px 15px 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
}

.game-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* ===== SLIDER DE JOGOS end===== */

/* ===== top categories ===== */
.top-categories {
    text-align: center;
    padding: 8rem 5%;
    background: var(--second-bg-color);
}

.top-categories h3 {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.top-categories h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 5rem;
}

/* Container */
.categories-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

/* Category Card */
.category-card {
    width: 250px;
    height: 300px;
    border-radius: 18px;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease;
    cursor: pointer;
}

/* Hover */
.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* Tag azul */
.category-tag {
    width: 100%;
    background: var(--second-black-color);
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    text-align: center;
}

/* Imagem */
.category-card img {
    width: 100%;
    height: 100%;
}


/* ===== top categories end ===== */



/* ====== Categories start page ====== */
.category-feature{
padding:60px 7%;

}

.category-title{
margin-top: 120px;
font-size:4rem;
color:var(--main-color);
margin-bottom:40px;
text-transform:uppercase;
text-align:center;

}

.feature-container{

display:flex;
gap:40px;
background: linear-gradient(135deg, var(--second-main-color) 0%, var(--main-color) 100%);
padding:25px;
border-radius:10px;
align-items:center;

}

.feature-image{
flex:2;
}

.feature-image img{

width:90%;
height:520px;
border-radius:8px;

}

/* painel lateral */

.feature-info{

flex:1;
color:white;

}

.feature-info h3{

font-size:2.5rem;
margin-bottom:15px;

}

.feature-info p{

font-size:1.4rem;
margin-bottom:20px;

}

.game-price{

font-size:2rem;
color:#66c0f4;
margin-top:15px;

}

/* estrelas */

.game-rating{

font-size:2rem;
color:#ffd700;

}

/* lista inferior */

.feature-list{

display:flex;
gap:15px;
margin-top:25px;
justify-content:center;

}

.feature-item{

width:120px;
height:70px;
cursor:pointer;
overflow:hidden;
border-radius:6px;

}

.feature-item img{

width:100%;
height:100%;
transition:0.3s;

}

.feature-item:hover img{

transform:scale(1.1);

}

/* Resposividade----Tem que ficar no final do código, não coloque codigo abaixo dele desde que não seja sobre resposividade*/
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    /* Ocupa a largura toda no mobile */
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.95);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar.active {
    display: block;
  }
}
